[Desktop Entry]
Name=Digital Assets
Comment=Cryptocurrencies prices and statistics
Type=Application
Exec=digital-assets
Terminal=false
Icon=digital-assets
