[Desktop Entry]
Name=Digital Assets
Comment=Cryptocurrencies prices, statistics and informations
Type=Application
Exec=fr.fgrabenstaetter.DigitalAssets
Terminal=false
Icon=fr.fgrabenstaetter.DigitalAssets
