[Desktop Entry]
Name=Digital Assets
Comment=Cryptocurrencies prices and statistics
Type=Application
Exec=fr.fgrabenstaetter.DigitalAssets
Terminal=false
Icon=fr.fgrabenstaetter.DigitalAssets
