/*
	AUTHOR: François Grabenstaetter
	LICENSE: GPL 3.0
*/

#mainBox {
	background-color: @theme_base_color;
	border-radius: 10px;
	padding: 20px;
}

#infosBox > box {
	padding: 20px;
}

#priceGreen {
	color: #66BB6A;
}

#priceRed {
	color: #EF5350;
}

#currencyName {
	font-size: 20px;
	font-weight: bold;
}

#currencySymbol {
	font-size: 16px;
}

#currencyPrice {
	font-size: 18px;
}

#infoTitle {
	font-weight: bold;
}

#networkErrorLabel {
	font-weight: bold;
	font-size: 16px;
}

#linkButton {
	padding: 10px;
}

#baseCurrencyPopoverSymbol {
	padding: 0 4px;
}

#settingsAPIKeyInfos {
	color: alpha(currentColor, 0.7);
	font-size: 14px;
}
